### Goal: sum up the 'infected' over all routes ending outside of China for each day

In [7]:
import pandas as pd
import datetime
t = datetime.datetime.now()
folder = r'C:\Users\Ensheng\Desktop\Coronavirus\Risk_Analysis\\'

### CN Airport set

In [8]:
# import airport info
in_table = r'C:\Users\Ensheng\Desktop\Coronavirus\IATA\IATA_airports.xlsx'
df_iata = pd.read_excel(in_table)
print(len(df_iata))
df_iata.head(3)

11846

,Code,Name,City,State,State Name,Latitude,Longitude,Country,Country Name,Global Region
0,AAA,Anaa,Anaa,,,-17.35,-145.50,PF,French Polynesia,Australasia
1,AAB,Arrabury,Arrabury,QL,Queensland,-26.70,141.04,AU,Australia,Australasia
2,AAC,El Arish International,El Arish,,,31.08,33.83,EG,Egypt,Africa

In [9]:
cn_lst = set(df_iata[df_iata['Country Name']=='China']['Code'])
print(str(len(cn_lst))+" airports in mainland China.")

358 airports in mainland China.

### Find infected value for dst in China and not in China for each day

In [10]:
in_table = folder + r'routesAverage_2.5.xlsx'
df = pd.read_excel(in_table)
print(len(df))
df = df.iloc[:,17:] 
# df.count(axis='columns')
df.head(3)

1975

,8: Infected,8: Routes,9: Infected,9: Routes,10: Infected,10: Routes,11: Infected,11: Routes,12: Infected,12: Routes,...,96: Infected,96: Routes,97: Infected,97: Routes,98: Infected,98: Routes,99: Infected,99: Routes,100: Infected,100: Routes
0,0.064,WUH->PEK,0.100,WUH->PEK,0.092,WUH->PEK,0.084,WUH->PEK,0.172,WUH->PEK,...,484.732,WUH->PEK,481.912,WUH->PEK,478.516,WUH->PEK,470.212,WUH->PEK,461.640,WUH->PEK
1,0.048,WUH->XMN,0.072,WUH->HAK,0.088,WUH->SHA,0.064,WUH->SHA,0.120,WUH->KMG,...,303.608,WUH->PVG,300.784,WUH->PVG,298.092,WUH->PVG,294.480,WUH->PVG,287.432,WUH->PVG
2,0.044,WUH->SHA,0.056,WUH->XMN,0.052,WUH->PVG,0.052,WUH->PVG,0.096,WUH->SYX,...,275.692,WUH->SHA,276.184,WUH->SHA,273.028,WUH->SHA,269.220,WUH->SHA,263.784,WUH->SHA

In [11]:
# filter out the destination
cols = df.columns
for j in range(len(df.columns)):
    if j%2 == 1:
        col_name = cols[j]
        df[col_name] = df[col_name].str.slice(-3,).isin(list(cn_lst)) # export: stop=3; import: -3,
df.head(3)

,8: Infected,8: Routes,9: Infected,9: Routes,10: Infected,10: Routes,11: Infected,11: Routes,12: Infected,12: Routes,...,96: Infected,96: Routes,97: Infected,97: Routes,98: Infected,98: Routes,99: Infected,99: Routes,100: Infected,100: Routes
0,0.064,True,0.100,True,0.092,True,0.084,True,0.172,True,...,484.732,True,481.912,True,478.516,True,470.212,True,461.640,True
1,0.048,True,0.072,True,0.088,True,0.064,True,0.120,True,...,303.608,True,300.784,True,298.092,True,294.480,True,287.432,True
2,0.044,True,0.056,True,0.052,True,0.052,True,0.096,True,...,275.692,True,276.184,True,273.028,True,269.220,True,263.784,True

In [13]:
for i in range(8,101):
    print("Day " + str(i))
    col1 = str(i)+': Infected'
    col2 = str(i)+': Routes'
    cn_value = sum(df[df[col2] ==1][col1])
    ncn_value = sum(df[df[col2] ==0][col1].reset_index(drop=True).dropna())
    print(cn_value)
    print(ncn_value)
    print(cn_value+ncn_value)

Day 8
0.8960000000000002
0.10400000000000005
1.0000000000000002
Day 9
0.9280000000000003
0.07200000000000004
1.0000000000000002
Day 10
0.8840000000000002
0.11600000000000006
1.0000000000000002
Day 11
0.8920000000000002
0.10800000000000004
1.0000000000000002
Day 12
1.784000000000001
0.21600000000000008
2.000000000000001
Day 13
1.764000000000001
0.23600000000000007
2.000000000000001
Day 14
2.6560000000000015
0.3440000000000002
3.0000000000000018
Day 15
2.6240000000000014
0.37600000000000017
3.0000000000000018
Day 16
2.6320000000000014
0.36800000000000016
3.0000000000000018
Day 17
2.6480000000000015
0.3520000000000002
3.0000000000000018
Day 18
4.403999999999997
0.5960000000000003
4.999999999999997
Day 19
4.487999999999997
0.5120000000000002
4.999999999999997
Day 20
4.423999999999999
0.5760000000000002
4.999999999999999
Day 21
5.3159999999999945
0.6840000000000004
5.999999999999995
Day 22
6.155999999999997
0.8440000000000003
6.999999999999997
Day 23
6.9759999999999955
1.0240000000000002
7.999999999999996
Day 24
7.871999999999995
1.1280000000000006
8.999999999999995
Day 25
8.915999999999993
1.0840000000000005
9.999999999999993
Day 26
9.767999999999994
1.2320000000000007
10.999999999999995
Day 27
11.391999999999992
1.608000000000001
12.999999999999993
Day 28
12.31999999999999
1.680000000000001
13.999999999999991
Day 29
14.143999999999993
1.8560000000000008
15.999999999999993
Day 30
16.008
1.9920000000000007
18.0
Day 31
18.475999999999996
2.5240000000000014
20.999999999999996
Day 32
18.984000000000012
2.016000000000001
21.000000000000014
Day 33
21.179999999999996
1.8200000000000007
22.999999999999996
Day 34
23.688
2.312000000000001
26.0
Day 35
26.672000000000008
2.328000000000001
29.000000000000007
Day 36
30.488000000000017
2.524000000000001
33.012000000000015
Day 37
33.284
2.740000000000001
36.024
Day 38
38.131999999999984
2.9240000000000013
41.05599999999998
Day 39
42.731999999999964
3.4240000000000013
46.15599999999996
Day 40
48.08399999999995
3.2160000000000015
51.299999999999955
Day 41
54.11999999999997
3.3640000000000008
57.483999999999966
Day 42
60.39999999999994
3.3560000000000008
63.75599999999994
Day 43
67.46000000000004
3.7520000000000016
71.21200000000003
Day 44
76.0480000000002
3.868000000000001
79.9160000000002
Day 45
86.36800000000027
4.35199999999997
90.72000000000024
Day 46
97.13200000000028
4.4359999999999555
101.56800000000023
Day 47
108.64800000000022
4.931999999999952
113.58000000000018
Day 48
122.05600000000031
4.915999999999946
126.97200000000025
Day 49
136.92399999999964
5.859999999999933
142.78399999999957
Day 50
153.6159999999996
6.139999999999907
159.7559999999995
Day 51
170.6279999999993
8.5479999999999
179.1759999999992
Day 52
191.99999999999972
9.103999999999855
201.10399999999956
Day 53
215.30399999999952
9.37599999999982
224.67999999999932
Day 54
240.77599999999885
12.111999999999805
252.88799999999864
Day 55
269.48800000000335
13.3559999999998
282.8440000000032
Day 56
301.8000000000035
15.959999999999777
317.76000000000323
Day 57
337.46800000000337
19.156000000000382
356.6240000000038
Day 58
376.50000000000455
23.160000000000462
399.660000000005
Day 59
419.44000000000415
26.540000000000532
445.9800000000047
Day 60
462.7200000000037
28.560000000000564
491.2800000000043
Day 61
505.6960000000028
34.187999999998596
539.8840000000014
Day 62
553.5120000000021
38.531999999999144
592.0440000000012
Day 63
725.7720000000005
48.603999999999274
774.3759999999997
Day 64
804.8120000000023
49.415999999999364
854.2280000000017
Day 65
889.0560000000016
53.98799999999956
943.0440000000012
Day 66
982.5120000000018
59.33199999999959
1041.8440000000014
Day 67
1083.783999999995
66.67600000000047
1150.4599999999955
Day 68
1198.3759999999993
71.29200000000006
1269.6679999999994
Day 69
1318.8719999999996
79.77599999999993
1398.6479999999995
Day 70
1447.816000000005
90.52399999999986
1538.340000000005
Day 71
1588.132000000002
98.51199999999976
1686.6440000000018
Day 72
1746.9159999999974
105.25599999999987
1852.1719999999973
Day 73
1914.7159999999963
117.34400000000001
2032.0599999999963
Day 74
2095.700000000005
128.57200000000006
2224.272000000005
Day 75
2279.8440000000114
145.06799999999998
2424.912000000011
Day 76
2491.3840000000087
153.23199999999997
2644.6160000000086
Day 77
2709.8360000000057
167.57600000000008
2877.4120000000057
Day 78
2944.7520000000004
180.4160000000001
3125.1680000000006
Day 79
3180.9520000000016
197.38800000000006
3378.3400000000015
Day 80
3426.971999999997
216.50400000000005
3643.475999999997
Day 81
3690.719999999995
231.304
3922.023999999995
Day 82
3961.675999999996
247.69600000000005
4209.371999999996
Day 83
4238.676000000009
266.7440000000001
4505.420000000008
Day 84
4512.564000000004
287.0679999999999
4799.632000000004
Day 85
4799.072000000001
304.39200000000005
5103.464000000001
Day 86
5083.431999999999
320.812
5404.243999999999
Day 87
5359.307999999993
344.5760000000002
5703.883999999993
Day 88
5648.539999999998
353.448
6001.9879999999985
Day 89
5928.496000000001
364.1799999999999
6292.676000000001
Day 90
6196.260000000002
378.3480000000001
6574.608000000002
Day 91
5864.216000000004
386.112
6250.328000000004
Day 92
6087.888000000004
397.876
6485.764000000004
Day 93
6302.1239999999925
410.60400000000016
6712.727999999993
Day 94
6513.019999999998
420.5760000000001
6933.595999999998
Day 95
6721.464000000004
425.44
7146.904000000003
Day 96
6918.023999999999
433.184
7351.208
Day 97
7129.143999999999
421.024
7550.168
Day 98
7334.320000000001
418.6599999999999
7752.9800000000005
Day 99
7554.767999999999
400.5159999999999
7955.283999999999
Day 100
7741.312000000002
414.9199999999999
8156.232000000002